#root {
	height: 100%;
}
.main.container {
	background-color: #f8f0fc;
	border-radius: 5px;
	padding: 10px;
	height: 100%;
	direction: flex;
	justify-content: center;
	overflow: scroll;
}

.ui.inverted.segment {
	margin-top: 5px;
}

.main.container::-webkit-scrollbar {
	display: none;
}
