.ui.two.cards,
th,
td {
	margin: 5px;
	color: #5e14c7;
}

span {
	color: #5e14c7;
}

tbody {
	background-color: #8d3cff;
}

td {
	color: white;
}

.loading.content {
	height: 600px;
	color: #5e14c7;
}

.ui.large.large.loader span {
	color: #5e14c7;
}

.card {
	overflow: auto;
}

.card::-webkit-scrollbar {
	display: none;
}
